/*

>> INDEX >> SECTION > PRECO

*/

section.preco {
  min-height: 300px;
  background-color: var(--cor-secundaria);
  background-image: url('../../../../images/pages/curso/background-preco.png');
  background-size: cover;
  background-position: top center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 300px 0px 100px 0px;
}

/* Texto */

section.preco .texto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  width: 100%;
  padding: 0px 50px;
}

section.preco .texto h2 {
  font-family: var(--fonte-bold);
  font-size: 2rem;
  width: 100%;
  max-width: 400px;
  color: var(--cor-branco);
  padding: 0px 0px 15px 0px;
}

section.preco .texto h2 span {
  color: var(--cor-primaria);
}

section.preco .texto h3 {
  font-family: var(--fonte-bold);
  font-size: 4rem;
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
  padding: 5px 15px;
  border-radius: 15px;
}

section.preco .texto h4 {
  font-family: var(--fonte-bold);
  font-size: 2rem;
  color: var(--cor-primaria);
  padding: 15px 0px 15px 0px;
}

section.preco .texto button {
  font-family: var(--fonte-bold);
  font-size: 1.1rem;
  color: var(--cor-branco);
  background-color: var(--cor-primaria);
  padding: 15px 25px;
  border-radius: 50px;
  transition: all 0.3s;
}

section.preco .texto button span {
  color: var(--cor-secundaria);
  pointer-events: none;
  transition: all 0.3s;
}

section.preco .texto button:hover {
  background-color: var(--cor-branco);
  color: var(--cor-secundaria);
}

section.preco .texto button:hover span {
  color: var(--cor-primaria);
}

/* Imagem */

section.preco .imagem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

section.preco .imagem img {
  width: 100%;
  max-width: 400px;
}

/* Responsivo */

@media screen and (max-width: 900px) {
  section.preco {
    flex-direction: column;
    padding: 100px 0px 100px 0px;
  }
  section.preco .texto {
    padding: 50px 30px 0px 30px;
  }
  section.preco .texto h2 {
    font-size: 1.7rem;
    max-width: 350px;
  }
  section.preco .texto h3 {
    font-size: 3.5rem;
  }
  section.preco .texto h4 {
    font-size: 1.7rem;
  }
}
