/*

>> VARIABLES

*/

:root {

  /* Fonte */

  --fonte-estilo: 'allura_regular';
  --fonte-medium: 'gilroy_medium';
  --fonte-bold: 'gilroy_bold';

  /* Cores */

  --cor-primaria: #32676d;
  --cor-secundaria: #e6b5a8;

  --cor-cinza-1: #edf0f5;
  --cor-cinza-2: #a9b1b7;
  --cor-cinza-3: #4f5359;

  --cor-branco: #FFFFFF;
  --cor-preto: #000000;

}
