/*

>> INDEX >> SECTION > RESUMO

*/

section.resumo {
  min-height: 300px;
  background-color: var(--cor-branco);
  background-image: url('../../../../images/pages/index/background-resumo.png');
  background-size: cover;
  background-position: top center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 250px 0px 0px 0px;
}

/* Texto */

section.resumo .texto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  padding: 0px 0px 0px 100px;
  width: 100%;
}

section.resumo .texto h2 {
  font-family: var(--fonte-bold);
  font-size: 2.5rem;
  color: var(--cor-primaria);
  width: 100%;
  max-width: 400px;
}

section.resumo .texto div {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 25px;
}

section.resumo .texto div img {
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
}

section.resumo .texto div p {
  font-family: var(--fonte-medium);
  font-size: 1.2rem;
  line-height: 1.5;
  width: 100%;
  max-width: 500px;
  color: var(--cor-primaria);
  padding: 0px 0px 0px 10px;
}

/* Imagem */

section.resumo .imagem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

section.resumo .imagem img {
  width: 100%;
  max-width: 600px;
  cursor: pointer;
  transition: all 0.3s;
}

section.resumo .imagem img:hover {
  opacity: 0.9;
}

/* Modal */

section.resumo .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  background-color: #e6b5a8b3;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s;
  z-index: 5;
}

section.resumo .modal.mostrar {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

section.resumo .modal .video {
  width: 100%;
  max-width: 650px;
  padding: 0px 10px;
}

section.resumo .modal .video .iframe {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

section.resumo .modal .video .iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px 0px 30px 0px;
}

section.resumo .modal p {
  font-family: var(--fonte-bold);
  font-size: 1rem;
  color: var(--cor-secundaria);
  background-color: var(--cor-primaria);
  padding: 10px 25px;
  border-radius: 50px;
  margin: 25px 0px 0px 0px;
  cursor: pointer;
  transition: all 0.3s;
}

section.resumo .modal p:hover {
  background-color: var(--cor-branco);
  color: var(--cor-primaria);
}

/* Responsivo */

@media screen and (max-width: 1000px) {
  section.resumo {
    flex-direction: column;
    padding: 200px 0px 0px 0px;
  }
  section.resumo .texto {
    padding: 0px 30px 50px 30px;
  }
  section.resumo .imagem {
    padding: 0px 30px;
  }
  section.resumo .imagem img {
    max-width: 400px;
  }
}
